.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup_hidden {
  visibility: hidden;
}

.popup__window {
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: #212529;
}

.auth-form__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}

.auth-form__btn {
  margin-top: 13px;
}