.button {
  width: 100%;
  padding: 8px 25px;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  background-color: #000000;
  color: #FFFFFF;
  transition: color 0.2s, background-color 0.2s;
}

.button_green {
  background-color: #4DD599;
  color: #FFFFFF;
}

.button_green:hover {
  background-color: #49c790;
}

.button_green:disabled {
  background-color: #9febca;
}

.button_gray {
  background-color: #e4e4e4;
  color:#949494;
}

.button_gray:hover {
  background-color: #dadada;
}

.button_gray:disabled {
  background-color: #e4e4e4;
  color:#c0c0c0;
}

.button_blue {
  background-color: #4daad5;
  color: #FFFFFF;
}

.button_blue:hover {
  background-color: #4995c7;
}

.button_blue:disabled {
  background-color: #8bc2e7;
}
