.navbar__logo {
  font-weight: 600;
}

.navbar__user {
  display: flex;
  align-items: center;
}

.navbar__username {
  margin-right: 15px;
  font-size: 1.25rem;
  color: #ffffff;
}

.navbar__btn {
  padding: 5px 12px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  background-color: #4391e9;
  border: none;
  transition: background-color 0.2s;
}

.navbar__btn:hover {
  background-color: #e94e43;
}