.column {
  padding: 14px;
  min-width: 320px;
  margin-right: 20px;
  color: black;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: #212529;
}

.column:last-child {
  margin-right: 0;
}

.col-title {
  display: flex;
  justify-content: space-between;
}

.col-title:hover .col-title__btns {
  opacity: 1;
}

.col-title__text {
  flex-grow: 1;
  font-weight: 700;
  padding: 5px 10px 5px 10px;
}

.col-title__btns {
  display: flex;
  flex-wrap: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
}

.col-title__btn {
  margin-right: 8px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.2s;
}

.col-title__btn:hover {
  opacity: 1;
}

.edit-title {
  display: flex;
}

.edit-title__input {
  flex: 1;
  padding: 4px 10px;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 700;
}

.column__cards {
  margin-top: 10px;
}